*{
	box-sizing: border-box;
}
@media (min-width: 992px) {
		  .col-lg-4 {
		  	float: left;
		    width: 33.33%;
		  }
		}

		/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
		  .col-md-6, .col-md-12 {
		    float: left;
		    }
			  .col-md-12 {
			    width: 100%;
			  }
			  .col-md-6 {
			    width: 50%;
			}
		}
@media (min-width: 0px) and (max-width: 767px) {
	  .col-sm-1 {
	  	float: left;
	    width: 100%;
	  }
	}
body{
	background-color: #dddddd;
}
h1{
	font-family: sans-serif;
	text-align: center;
	background-color: #aaaaaa;
}
#new{
	width: 100%
}

.new1{
	float: right;
	background-color: #ff8080;
	font-family: sans-serif;
	width:100px;
	height:25px;
	text-align: center;
	padding: 2px;
	font-weight: bold;
	border-bottom:2px solid black;
	border-left:2px solid black;
}

.new2{
	float: right;
	font-family: sans-serif;
	background-color: #e62e00;
	color: white;
	width:100px;
	height:25px;
	text-align: center;
	padding: 2px;
	font-weight: bold;
	border-bottom:2px solid black;
	border-left:2px solid black;
}

.new3{
	float: right;
	font-family: sans-serif;
	background-color: #ffff80;
	width:100px;
	height:25px;
	text-align: center;
	padding: 2px;
	font-weight: bold;
	border-bottom:2px solid black;
	border-left:2px solid black;
}

p{
	padding: 10px;
	margin-bottom: 0px;
}

.box{
	font-family: Arial;
	border: 2.2px solid black;
	background-color: #e0e0d1;
	margin: 10px;
}
